{{>header}}

 <section>
                <header>
            {{!-- <a href='/'>weather</a>
            <a href='/about'>about</a>
            <a href='/helps'>help</a> --}}
        </header>
        <div class="container">
            <a href='/about'>about</a>
        <h1>{{head}}</h1>
        <img src = "/img/img.png">
         
         <form>
         <input placeholder="enter location...">
         <button>search</button>
         </form>
         
         
         <p id='msg1'></p>
         <p id='msg2'></p>

         
         </div>
         <footer>
             <div class="footer">
            <p> created by {{name}} &copy 2018</p>
            </div>
         </footer>
         </section> 
    </body>
        
         {{>footer}}