h1 {
    color: #d8d9d7;
    text-align: center;
    font-size: 2em;
    margin: 0;
    margin-bottom: 1em;
}
body {
    text-align: center;
    background-image: url(../img/bk.jpg);
    background-attachment:fixed;
    background-size: 100% 100%;
    font-family: Arial, Helvetica, sans-serif;
    
}
* {
    transition: 0.2s all linear
}
.footer {
    width: 100%;
    /* background: grey; */
    color: white;
    /* margin: 0 auto; */
    position: absolute;
    bottom: 0px;
    text-align: center;
    font-size: 0.7em;

}
img {
    width: 15em;
    height:15em
}

a {
    text-decoration: none;
    color: #000000;
    border: 1px solid black;
    padding: 3px;
    background-color: #fee46b;
    border-radius: 5px;
    
    margin: 1em;
    margin-top: 2em;
    font-weight: bold;
}
a:hover {
    background: rgba(221, 215, 215, 0.678);
    box-shadow: 0px 0px 5px grey;
    
}

section {
    width: 42%;
    background-color: #000000b8;
    border-radius: 2em;
    padding: 1%;
    margin: 0 auto;
    margin-top:2em;
    box-shadow: 0px 0px 5px black;
    position: relative;
    height: 30em;
    box-sizing: border-box

}
#msg1,#msg2 {
    color: white;
    font-size: 1em;
    font-weight: 400S;
} 
.container {
    /* position: absolute; */
    box-sizing: border-box;
}
@media (max-width:480px) {
    section {
        width:90%;
        height: 35em;
    }
}
@media (min-width:481px) and (max-width:768px) {
    section {
        width:60%;
        height:34em;
    }
}
@media (min-width:769px) and (max-width:1150px) {
    section {
        width:50%;
      
        height: 34em;
    
    } 
}
input {
    background: #729fcf69;
    border: none;
    padding: 6px;
    border-radius: 1em;
    color:white;
    border: 2px solid transparent;
}
input:focus {
    outline-offset: 0px !important;
    outline: -webkit-focus-ring-color 0px;

}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }
button {
    padding: 5px;
    border-radius: 1em;
    border: 2px solid transparent;
    outline-offset: 0px !important;
    outline: -webkit-focus-ring-color 0px;
    background-color: #c1b54f;
}
button:hover {
    border: 2px solid yellow;
    background-color: #c1b64f83;
}
input:focus {
    border: 2px solid rgb(32, 74, 135)
}
